NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "Your wallet connect project ID";
NEXT_PUBLIC_WALLETCONNECT_PROJECT_NAME = "Your wallet connect project name"
NEXT_PUBLIC_BASE_URL = "http://localhost:3000"
WEBHOOK_SECRET = "your elementpay webhook secret"